# Node
dev_backend/node_modules/
dev_backend/dist/
dev_backend/build/

# Logs
*.log

# Bases de données locales
#*.sqlite

# Prisma
/dev_backend/src/generated/
/dev_backend/prisma/migrations/

# Environnement
#.env

# OS
.DS_Store
Thumbs.db