name: transcendence

networks:
  transcendence:
    driver: bridge

services:
  api:
    container_name: api
    build: 
      context: ./backend
      dockerfile: Dockerfile.prod
    image: image_prod_api
    env_file:
      - backend/.env.prod
    volumes:
      - ./app/api:/app/data
    expose:
      - "3000"
    networks:
      - transcendence
    restart: always


  frontend:
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    image: image_prod_frontend
    volumes:
      - frontend_dist:/usr/share/frontend
    networks:
      - transcendence
    restart: "no"

  nginx:
    container_name: nginx
    build:
      context: ./nginx
      dockerfile: Dockerfile.prod
    image: image_prod_nginx
    depends_on:
      - frontend
      - api
    ports:
      - "8443:443"
    volumes:
      - frontend_dist:/var/www/html
    networks:
      - transcendence
    restart: always

volumes:
  frontend_dist: