version: "3.9"

networks:
  transcendence:
    driver: bridge

services:
  api:
    container_name: api
    build: 
      context: ./dev_backend
      dockerfile: Dockerfile.prod
    image: image_prod_api
    env_file:
      - dev_backend/.env.prod
    volumes:
      - ./app/api:/app/data   # persist database or uploaded files

    networks:
      - transcendence
    restart: always


  frontend:
    build:
      context: ./dev_frontend
      dockerfile: Dockerfile.prod
    networks:
      - transcendence
    volumes:
      - frontend_dist:/usr/share/frontend
    restart: always

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile.prod
    depends_on:
      - frontend
      - api
    ports:
      - "8443:443"
    volumes:
      - frontend_dist:/usr/share/nginx/html
    networks:
      - transcendence
    restart: always

volumes:
  frontend_dist: