networks:
  transcendence:
    driver: bridge

services:
  api:
    build: 
      context: ./dev_backend
      dockerfile: Dockerfile.prod
    image: image_prod_api
    env_file:
      - dev_backend/.env.prod
    volumes:
      - ./app/api:/app/data
    expose:
      - "3000"
    networks:
      - transcendence
    restart: always


  frontend:
    build:
      context: ./dev_frontend
      dockerfile: Dockerfile.prod
    volumes:
      - frontend_dist:/usr/share/frontend
    networks:
      - transcendence
    restart: "no"

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile.prod
    depends_on:
      - frontend
      - api
    ports:
      - "8443:443"
    volumes:
      - frontend_dist:/var/www/html
    networks:
      - transcendence
    restart: always

volumes:
  frontend_dist: