<div class="player-select flex flex-col items-center bg-cyan-800/20 p-4 rounded-xl border border-cyan-400 w-48 space-y-2">
    <label class="text-white text-sm font-semibold" data-i18n="player.select"></label>
	<div class="relative w-full">
    	<input type="text"
    	    class="player-search-input bg-slate-900/50 border border-cyan-300 text-white px-2 py-1 rounded w-full focus:outline-none"
    	    placeholder="" data-i18n-placeholder="player.search.placeholder" autocomplete="off" />
    		<ul class="autocomplete-list absolute z-10 top-full mt-1 w-full max-h-40 overflow-auto bg-slate-800 border border-cyan-300 rounded shadow-md hidden">
    			<!-- filled by views.ts -->
    		</ul>
	</div>

    <button class="lock-btn mb-8 bg-cyan-600 text-white px-2 py-1 rounded hover:bg-cyan-500 w-full text-sm" data-i18n="player.login">
    </button>
    <button class="add-guest-btn bg-indigo-600 text-white px-2 py-1 rounded hover:bg-indigo-500 w-full text-sm" data-i18n="player.add-guest-btn">
    </button>
    <button class="delete-guest-btn bg-red-600    text-white px-2 py-1 rounded hover:bg-red-500 w-full text-sm" data-i18n="player.del-guest-btn">
    </button>
</div>