<h2 class="text-4xl mb-10 font-extrabold text-center text-purple-400 drop-shadow-lg" data-i18n="tournament.endTitle">
</h2>

<div class="flex flex-col items-center justify-center space-y-8 w-full">

  <!-- champion name -->
  <div class="bg-purple-600/30 border border-purple-400 backdrop-blur-md 
              rounded-2xl p-12 shadow-lg animate-pulse">
    <p id="champion-name" 
       class="text-5xl font-extrabold text-white tracking-wide drop-shadow-lg text-center">
      <!-- champion name injected dynamically -->
    </p>
  </div>

  <!-- Restart button -->
  <button id="home-btn" class="bg-cyan-500/70 border border-cyan-300 backdrop-blur-md px-10 py-4 
    text-xl font-bold text-white rounded-xl hover:bg-cyan-700 transition
    animate-hologram-pulse" data-i18n="tournament.return">
  </button>
</div>
