@import "tailwindcss";

@font-face {
	font-family: 'Orbitron';
	src: url('../fonts/Orbitron-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Orbitron';
	src: url('../fonts/Orbitron-SemiBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


@keyframes hologramPulse {
  0%, 100% {
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
  }
  50% {
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.6);
  }
}


.animate-hologram-pulse {
  animation: hologramPulse 4s ease-in-out infinite;

}

.was-validated input:invalid {
	border-color: #c10007;
}