<h2 class="text-2xl font-semibold text-center mb-6">Create an account</h2>
<form id="signup-form" class="space-y-4 w-full">
  <div>
    <label for="username" class="block mb-1">Username</label>
    <input id="username" name="username" type="text"
           class="w-full px-4 py-2 rounded bg-slate-700 text-white border border-slate-600 focus:outline-none focus:ring-2 focus:ring-purple-500" />
  </div>
  <div>
    <label for="password" class="block mb-1">Password</label>
    <input id="password" name="password" type="password"
           class="w-full px-4 py-2 rounded bg-slate-900 text-white border border-slate-600 focus:outline-none focus:ring-2 focus:ring-purple-500" />
  </div>
  <div>
    <label class="block mb-1">Verify password</label>
    <input id="password2" name="password" type="password"
           class="w-full px-4 py-2 rounded bg-slate-900 text-white border border-slate-600 focus:outline-none focus:ring-2 focus:ring-purple-500" />
  </div>
  <button type="submit"
          class="border border-blue-300 backdrop-blur-md p-10 animate-hologram-pulse
		  w-full px-4 py-2 mb-7 bg-blue-500/70 text-white rounded-md hover:bg-blue-700 transition">
    Sign Up
  </button>

</form>
