<div class="flex flex-col items-center justify-center w-full space-y-8 text-[clamp(0.8rem,1.5vw,1.2rem)]">

    <h2 class="text-[clamp(1.5rem,3vw,2.5rem)] font-bold text-center text-purple-300 drop-shadow-lg tracking-wide"
            data-i18n="t-waiting.waitingTitle">
        <!-- i18n Title -->
    </h2>

    <!-- Previous Winner Panel -->
    <div class="bg-cyan-900/20 border border-cyan-400/30 rounded-xl p-5 
                            backdrop-blur-md w-[min(90%,500px)] text-center
                            shadow-[0_0_20px_rgba(56,189,248,0.3)]
                            hover:shadow-[0_0_30px_rgba(56,189,248,0.5)]
                            transition duration-300 ease-in-out  ">
        <p class="text-[clamp(0.9rem,1.5vw,1.2rem)] text-cyan-300" data-i18n="t-waiting.prevWinnerLabel"></p>
        <p id="prev-winner" class="text-[clamp(1.5rem,3vw,2rem)] font-bold text-purple-300 mt-2 drop-shadow-lg">
            <!-- Winner name injected dynamically -->
        </p>
    </div>

    <!-- Next Match Players -->
    <div class="w-full max-w-3xl items-center 
                            bg-cyan-900/20 border border-cyan-400/30 rounded-xl p-6 
                            backdrop-blur-md shadow-[0_0_20px_rgba(56,189,248,0.2)]  ">
        <h3 class="font-bold text-center text-purple-300 drop-shadow-lg tracking-wide"
            data-i18n="t-waiting.nextmatch">
        <!-- i18n Title -->
        </h3>
        <div class="flex justify-between w-full max-w-3xl items-center">
        <div class="flex-1 text-center">
            <p class="text-cyan-300 text-[clamp(0.9rem,1.5vw,1.2rem)]" id="leftplayer"></p>
            <p id="next-left" class="text-[clamp(1.3rem,2.5vw,1.8rem)] font-bold text-white mt-1 drop-shadow-lg uppercase"></p>
        </div>

        <span class="text-[clamp(1.3rem,2.5vw,1.8rem)] font-bold text-cyan-400 px-4">VS</span>

        <div class="flex-1 text-center">
            <p class="text-cyan-300 text-[clamp(0.9rem,1.5vw,1.2rem)]" id="rightplayer"></p>
            <p id="next-right" class="text-[clamp(1.3rem,2.5vw,1.8rem)] font-bold text-white mt-1 drop-shadow-lg uppercase"></p>
        </div>
    </div>
    </div>

    <!-- Ready Button -->
    <button id="ready-btn"
        class="bg-cyan-400/10 border border-cyan-400/30 rounded-lg
            px-8 py-4 font-bold text-cyan-200 uppercase tracking-wider
            hover:bg-cyan-500/20 hover:text-white hover:border-cyan-300
            transition duration-300 ease-in-out
            shadow-[0_0_15px_rgba(56,189,248,0.2)] 
            hover:shadow-[0_0_25px_rgba(56,189,248,0.5)]
            backdrop-blur-md   w-[min(90%,400px)] mt-4"
        data-i18n="t-waiting.ready">
        Ready
    </button>

</div>
