<div class="max-w-4xl">
    <h2 id="title" class="text-2xl text-purple-300 p-3 font-bold text-center" data-i18n="tournament.title"></h2>
    <h1 id="info" class="text-xl text-center" data-i18n="tournament.instructions"></h1>
    <div id="player-select-container" class="flex justify-center items-center gap-8 mt-8 flex-wrap">
    <!-- Filled by main.ts -->
    </div>

    <button id="start-btn"
            class="mt-6 bg-cyan-600 text-white px-6 py-2 rounded hover:bg-cyan-500 transition block mx-auto" data-i18n="tournament.start-btn">
    </button>
</div>